{% extends "layout.html" %} 

{% block pageTitle %} Home – GOV.UK Prototype Kit 
{%
endblock %} 

{% block beforeContent %}
    {{ govukPhaseBanner({ tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Apply for a Veteran's ID card
      <span class="govuk-caption-xl">Prototype kit {{releaseVersion}}</span>
    </h1>
    {{releaseVersion | log }}

    {{ govukWarningText({
      text: "Only choose GOV.UK identity proofing and verification if you have been given the \"synthetic identity\" document.
            You can't prove your own identity with this service.",
      iconFallbackText: "Warning"
    }) }}

    <form class="form" action="/start_veteran_apply_choice" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        
        {{ govukRadios({
          idPrefix: "start_veteran_match_status",
          name: "start_veteran_match_status",
          items: [
            {
              value: "IPV",
              text: "use GOV.UK identity proofing and verification",
              checked: checked("start_veteran_match_status", "IPV")
            },
            {
              value: "skip",
              text: "skip straight to matching",
              checked: checked("start_veteran_match_status", "skip")
            }
          ],
          errorMessage: error
        }) }}
        
       {{ govukButton({
          text: "Apply for a veteran's ID card"
        }) }}
    </form>

    <h2 class="govuk-heading-s">Examples and documentation</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/docs/tutorials-and-examples">Tutorials and templates</a>
      </li>
      <li>
        <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
